$color = red
.Cake {
  position: relative;
  background: #EEEEEE
}
.dish {
  position: absolute;
  bottom: 0
  left: 0
  right: 0
  height: 10%
  background: $color
  border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px
}
.layerBottom {
  position: absolute;
  bottom: 15%
  left: 5%
  right: 5%
  height: 15%
  background: $color

}
.layerTop {
  position: absolute;
  bottom: 35%
  left: 5%
  right: 5%
  height: 15%
  background: red
}
.cream {
  position: absolute;
  bottom: 55%
  left: 3%
  right: 3%
  height: 15%
  background: red
  border-bottom-left-radius: 10px
  border-bottom-right-radius: 10px
  border-top-left-radius: 5px
  border-top-right-radius: 5px
}
.candles {
  text-align: center;
  height: 30%
}
.candle {
  display: inline-block;
  position: relative;
  width: 30px
  height: 100%
}
.stick {
  position: absolute;
  top: 55%
  left: 10%
  right: 10%
  height: 60%
  background: red
  border-top-left-radius: 15px
  border-top-right-radius: 15px
}
.flame {
  position: absolute;
  top: 0%
  left: 15%
  right: -15%
  height: 30%
  background: red
  border-top-left-radius: 25px
  border-bottom-right-radius: 15px
  transform: rotate(-40deg);
}
