$color = #A60003
.Cake {
  position: relative;
  display: inline-block;
  &:hover {
    .flame {
      transform: rotate(-80deg);
    }
  }
}
.dish {
  position: absolute;
  bottom: 0
  left: 0
  right: 0
  height: 11%
  background: $color
  border-bottom-left-radius: 20% 50%
  border-bottom-right-radius: 20% 50%
}
.layerBottom {
  position: absolute;
  bottom: 12%
  left: 3%
  right: 3%
  height: 20%
  background: $color

}
.layerTop {
  position: absolute;
  bottom: 35%
  left: 3%
  right: 3%
  height: 14%
  background: $color
}
.cream {
  position: absolute;
  bottom: 52%
  left: 2%
  right: 2%
  height: 15%
  background: $color
  border-top-left-radius: 5%
  border-top-right-radius: 5%
}
.candles {
  text-align: center;
  height: 27%
  white-space: nowrap;
}
.candle {
  display: inline-block;
  position: relative;
  height: 100%
}
.stick {
  position: absolute;
  top: 55%
  left: 10%
  right: 0%
  height: 68%
  background: $color
  border-top-left-radius: 20%
  border-top-right-radius: 20%
}
.flame {
  position: absolute;
  top: 0%
  left: 15%
  right: -15%
  height: 44%
  background: $color
  border-top-left-radius: 50%
  border-bottom-right-radius: 70%
  transform: rotate(-30deg);
  transition all
  transition-duration 4s
}
.Cake {
  &:hover {
    .flame {
      transform: rotate(-60deg) scale(0.6);
      top: 10%
      opacity: 0.5
      transition-duration 0.4s
    }
  }
}
