.avatar
  display inline-block
  background-color white
  background-size cover
  border-radius 50%
  transition rotate scale
  transition-duration 0.3s
  box-shadow 0px 1px 5px rgba(0, 0, 0, 0.5)
  &:hover
    transform rotate(-6deg) scale(1.1)
