.Slider {
  position relative
  height 100%
  width 100%
  overflow hidden
}
.slideWrapper {
  height 100%
  width 100%
}
.slidesWrapperCommon {
  position relative
  height 100%
  width 100%
  transition 0.5s
}
.slidesWrapperVertical {
  composes slidesWrapperCommon
  .slideWrapper {
    display block
  }
}
.slidesWrapperHorizontal {
  composes slidesWrapperCommon
  white-space nowrap
  .slideWrapper {
    display inline-block
  }
}
.arrowCommon {
  cursor pointer
  position absolute
  top 0
  bottom 0
  outline none
  background none
  margin 0
  padding 0
  border 0
}
.arrowLeft {
  composes arrowCommon
  left 0
  width 25%
}

.arrowRight {
  composes arrowCommon
  right 0
  width 75%
}
