.Slider {
  position relative
  height 100%
  width 100%
  overflow hidden
}
.slideWrapper {
  display inline-block
  height 100%
  width 100%
}
.slidesWrapper {
  position relative
  height 100%
  width 100%
  white-space nowrap
  transition 1s
}
.arrowLeft {
  cursor pointer
  position absolute
  left 0
  top 0
  bottom 0
  width: 25%;
  border: 0
  outline none
  background none
}

.arrowRight {
  cursor pointer
  position absolute
  right 0
  top 0
  bottom 0
  width: 75%;
  border: 0
  outline none
  background none
}
